<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/webjars/bootstrap/4.0.0/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<form action="book/books.html">
    <div>
        <label>用户名</label>
        <input name="username" type="text">
    </div>
    <div>
        <label>密码</label>
        <input name="password" type="password">
    </div>
    <input type="submit" />
</form>
</body>
</html>